<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>TransportesApp | Agregar Ruta</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">

</head>
<body>

	<header th:insert="fragments/navegacion :: navegacion"></header>


	<main role="main ">
		<section class="content">
			<!-- FORMULARIO AGREGAR RUTA -->
			<div class="container-fluid">
				<div class="container pt-4">
					<div class="card border-primary mt-5"
						style="max-width: 50%; margin: auto">
						<div class="card-header text-primary">
							<h4>Agregar Ruta</h4>
						</div>
						<div class="card-body">

							<div class="container-fluid">
								<form th:action="@{/rutas/save}" th:object="${ruta}"
									method="post">
									
									<div class="form-row">
										<div class="form-group">
											<label for="ciudadOrigen">Ciudad Origen</label> 
											<select th:field="*{ciudadOrigen.idCiudad}" 
												class="form-select"	aria-label=".form-select-lg example">
												<option value="" selected >Seleccione una ciudad</option>										
												<option th:each="ciudad : ${ListaCiudades}"
													th:value="${ciudad.idCiudad}" th:text="${ciudad.nombre}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group">
											<label for="ciudadOrigen">Ciudad Destino</label> 
											<select th:field="*{ciudadDestino.idCiudad}"
												class="form-select"	aria-label=".form-select-lg example">
												<option value="" selected >Seleccione una ciudad</option>
												<option th:each="ciudad : ${ListaCiudades}"
													th:value="${ciudad.idCiudad}" th:text="${ciudad.nombre}">
												</option>
											</select>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md">
											<label for="tiempoViaje">Tiempo del Viaje</label> <input
												type="text" class="form-control" id="tiempoViaje"
												th:field="*{tiempoViaje}"
												placeholder="Ingrese el Tiempo del Viaje">
										</div>
									</div>


									<div class="form-row">
										<div class="form-group col-md">
											<label for="precioEstandar">Precio Estandar</label> <input
												type="text" class="form-control" id="precioEstandar"
												th:field="*{precioEstandar}"
												placeholder="Ingrese el Precio Estandar">
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md">
											<label for="precioPremium">Precio Premium</label> <input
												type="text" class="form-control" id="precioEstandar"
												th:field="*{precioPremium}"
												placeholder="Ingrese el Precio Premium">
										</div>
									</div>


									<div class="card-footer border-primary">
										<div class="d-flex justify-content-md-center">
											<button type="submit" class="btn btn-primary btn-lg"
												style="margin: 1rem;">
												<i class="fas fa-save" style="margin-right: 0.5rem"></i>
												Guardar
											</button>

											<a type="button" class="btn btn-outline-secondary btn-lg"
												style="margin: 1rem" th:href="@{/}"> <i
												class="fas fa-times" style="margin-right: 0.5rem;"></i>
												Cancelar
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>

		<!-- TABLA DE RUTAS -->

		<section th:insert="fragments/listaRutas :: lista-rutas"></section>


	</main>
	
	<script src="https://kit.fontawesome.com/f4150c958d.js" crossorigin="anonymous"></script>

</body>
</html>