<div th:fragment="lista-rutas" 
	class="container-fluid" style="padding-top: 40px;">
            <div class="card border-primary" style="max-width: 90%;margin:auto;">
                <div class="card-header text-primary">
                    <h4>Rutas</h4>
                </div>
                <div class="card-body">
                    <table id="tabledata_estudios" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ciudad Origen</th>
                            <th>Ciudad Destino</th>
                            <th>Tiempo de viaje</th>
                            <th>Precio Estandar</th>
                            <th>Precio Premium</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="el, i : ${ListaRutas}">
                                <td>
                                    <p class="text-dark" th:text="${i.index} + 1" >-</p>
                                </td>
                                <td>
                                    <p class="text-dark" th:text="${el.ciudadOrigen.nombre}" >-</p>
                                </td>
                                <td>
                                    <p class="text-dark" th:text="${el.ciudadDestino.nombre}" >-</p>
                                </td>
                                <td>
                                    <p class="text-dark" th:text="${el.tiempoViaje}" >-</p>
                                </td>
                                <td>
                                    <p class="text-dark" th:text="${el.precioEstandar}" >-</p>
                                </td>
                                <td>
                                    <p class="text-dark" th:text="${el.precioPremium}" >-</p>
                                </td>
                                <td>
                                	<a th:href="@{/programacion/ruta/{id} (id=${el.idRuta}) }"
                                       class="btn btn-success btn-sm" role="button" title="Ver Buses">
                                        <i class="fas fa-bus" aria-hidden="true"></i>
                                    </a>
                                    <a th:href="@{/rutas/edit/{id} (id=${el.idRuta}) }"
                                       class="btn btn-info btn-sm" role="button" title="Editar el registro.">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                    <a th:href="@{/rutas/delete/{id} (id=${el.idRuta}) }"
                                       class="btn btn-danger btn-sm" role="button" title="Eliminar registro">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
</div>



        
        